body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* #region header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo .logo-span {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}
.menu-item {
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion header */

/* #region solutions */
.hero {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  padding: 188px 0;
}
.hero-container {
  text-align: center;
  
}
.hero-headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  bottom: none;
  display: block;
  border: none;
  margin-right: auto;
  margin-left: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion solutions */

/* #region about */
.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.about-item {
  width: calc((100% - 24px * 3) / 4);
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion about */

/* #region our team */
.section-team {
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  padding: 120px 0;
}
.team-container {
  padding: 32px 0;
}
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 24 * 3) / 4);
  border-radius: 0 0 4px 4px;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/* #endregion our team */

/* #region portfolio */
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  width: calc((100% - 24 * 2) / 3);
}
.portfolio-img {
  width: 360px;
  height: 300px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-span {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
/* #endregion footer */
